
<div style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path(@list.image_url.key) %>'); background-size: cover; background-position: center; height: 250px" class="d-flex justify-content-center align-items-center bg-opacity-75">
  <h1 class="text-light fs-1 fw-bold"><%= @list.name %></h1>
</div>

<%= image_tag(@list.image_url.key) %>

<div class="container d-flex justify-content-center mt-3">
  <div class="col-10">
    <div class="d-flex justify-content-end">
      <%= link_to "edit list", edit_list_path(@list), class:"btn btn-sm btn-warning text-white rounded me-2" %>
      <%= link_to "add a movie", new_list_bookmark_path(@list), class:"btn btn-sm btn-success text-white rounded" %>
    </div>
    <div class="row g-3 mt-3">
      <% @bookmarks.each do |bookmark| %>
        <div class="col-6">
          <div class="card-trip">
            <img src="<%= bookmark.movie.poster_url %>">
            <div class="card-trip-infos">
              <div>
                <h2><%= bookmark.movie.title %><span> ∙ <%= bookmark.movie.rating %> ⭐️</span></h2>
                <p class="mb-2"><%= bookmark.movie.overview %></p>
                <p class="fs-6">‟<%= bookmark.comment %>”</p>
              </div>
              <%= link_to "delete", bookmark_path(bookmark), class: 'text-danger text-decoration-none fs-6', data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
            </div>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>
